Podfile.lock
Pods/*
Pods/Manifest.lock
Pods/Firebase/.cocoapods.yml
Pods/Firebase/CHANGELOG.md
Pods/Firebase/NOTICES
Pods/Firebase/README.md
Pods/Firebase/Analytics/Sources/Firebase.h
Pods/Firebase/Analytics/Sources/module.modulemap
Pods/FirebaseAnalytics/Frameworks/frameworks/FirebaseAnalytics.framework/FirebaseAnalytics
Pods/FirebaseAnalytics/Frameworks/frameworks/FirebaseAnalytics.framework/Headers/FIRAnalytics+AppDelegate.h
Pods/FirebaseAnalytics/Frameworks/frameworks/FirebaseAnalytics.framework/Headers/FIRAnalytics.h
Pods/FirebaseAnalytics/Frameworks/frameworks/FirebaseAnalytics.framework/Headers/FIRAnalyticsConfiguration.h
Pods/FirebaseAnalytics/Frameworks/frameworks/FirebaseAnalytics.framework/Headers/FIRApp.h
Pods/FirebaseAnalytics/Frameworks/frameworks/FirebaseAnalytics.framework/Headers/FIRConfiguration.h
Pods/FirebaseAnalytics/Frameworks/frameworks/FirebaseAnalytics.framework/Headers/FirebaseAnalytics.h
Pods/FirebaseAnalytics/Frameworks/frameworks/FirebaseAnalytics.framework/Headers/FIREventNames.h
Pods/FirebaseAnalytics/Frameworks/frameworks/FirebaseAnalytics.framework/Headers/FIROptions.h
Pods/FirebaseAnalytics/Frameworks/frameworks/FirebaseAnalytics.framework/Headers/FIRParameterNames.h
Pods/FirebaseAnalytics/Frameworks/frameworks/FirebaseAnalytics.framework/Headers/FIRUserPropertyNames.h
Pods/FirebaseAnalytics/Frameworks/frameworks/FirebaseAnalytics.framework/Modules/module.modulemap
Pods/FirebaseInstanceID/Frameworks/frameworks/FirebaseInstanceID.framework/FirebaseInstanceID
Pods/FirebaseInstanceID/Frameworks/frameworks/FirebaseInstanceID.framework/Headers/FirebaseInstanceID.h
Pods/FirebaseInstanceID/Frameworks/frameworks/FirebaseInstanceID.framework/Headers/FIRInstanceID.h
Pods/FirebaseInstanceID/Frameworks/frameworks/FirebaseInstanceID.framework/Modules/module.modulemap
Pods/FirebaseInstanceID/Sources/FIRInstanceID.h
Pods/GoogleInterchangeUtilities/Frameworks/GoogleInterchangeUtilities.framework/GoogleInterchangeUtilities
Pods/GoogleSymbolUtilities/Frameworks/GoogleSymbolUtilities.framework/GoogleSymbolUtilities
Pods/GoogleUtilities/Frameworks/GoogleUtilities.framework/GoogleUtilities
Pods/Headers/Private/Firebase/Firebase.h
Pods/Headers/Private/FirebaseInstanceID/FIRInstanceID.h
Pods/Headers/Public/Firebase/Firebase.h
Pods/Headers/Public/FirebaseInstanceID/FIRInstanceID.h
Pods/Pods.xcodeproj/project.pbxproj
Pods/Pods.xcodeproj/xcuserdata/bgarelli.xcuserdatad/xcschemes/Pods-TuSerenata.xcscheme
Pods/Pods.xcodeproj/xcuserdata/bgarelli.xcuserdatad/xcschemes/xcschememanagement.plist
Pods/Target Support Files/Pods-TuSerenata/Info.plist
Pods/Target Support Files/Pods-TuSerenata/Pods-TuSerenata-acknowledgements.markdown
Pods/Target Support Files/Pods-TuSerenata/Pods-TuSerenata-acknowledgements.plist
Pods/Target Support Files/Pods-TuSerenata/Pods-TuSerenata-dummy.m
Pods/Target Support Files/Pods-TuSerenata/Pods-TuSerenata-frameworks.sh
Pods/Target Support Files/Pods-TuSerenata/Pods-TuSerenata-resources.sh
Pods/Target Support Files/Pods-TuSerenata/Pods-TuSerenata-umbrella.h
Pods/Target Support Files/Pods-TuSerenata/Pods-TuSerenata.debug.xcconfig
Pods/Target Support Files/Pods-TuSerenata/Pods-TuSerenata.modulemap
Pods/Target Support Files/Pods-TuSerenata/Pods-TuSerenata.release.xcconfig
TuSerenata.xcworkspace/contents.xcworkspacedata
TuSerenata.xcworkspace/xcuserdata/bgarelli.xcuserdatad/UserInterfaceState.xcuserstate
