<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fontName</key>
	<string>Gill Sans</string>
	<key>pointSize</key>
	<string>21</string>
	<key>text</key>
	<string>Ciudad:</string>
	<key>textColor</key>
	<string>NSCalibratedRGBColorSpace 0.834395 0.32744 0.315233 1</string>
</dict>
</plist>
